volumes:
  meili-data:

services:
  meilisearch:
    image: getmeili/meilisearch:v1.31
    restart: unless-stopped
    ports:
      - 7700:7700
    environment:
      MEILI_NO_ANALYTICS: true
      MEILI_ENV: development
    volumes:
      - meili-data:/meili_data
